

<div>
  <h1>Web Whats app</h1>
  <a href="https://api.whatsapp.com/send?text=www.google.com" data-text="Take a look at this awesome website:" 
  class="wa_btn wa_btn_s" style="display:block">Share1</a>
</div>
<hr />

<div>
  <ul>
    <li>APP Component : <b>{{appName | lowercase}}</b></li>
  </ul>
</div>
<button type="button" (click)="goToEmployee()">Go To Employee</button>
<button type="button"(click)="goToEmployeeid()">going to employeeid page</button>

<button type="button"(click)="checkEmployeeName()">Check Emp Name</button>



<button type="button"(click)="getDataFromURL()">url data</button>



<button type="button"(click)="getDataFromSohailURL()">Sohail</button>

{{data | json}}

<input type="text" name="testName" [(ngModel)]="tName" />

<button type="button"(click)="getFromCustomAPI()">Custom API</button>

<button type="button"(click)="saveItemDetails()">SaveItem</button>

<app-p-doc-parent>
</app-p-doc-parent>



<router-outlet></router-outlet>